<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="frame">
          <div class="frame-2">
            <img
              class="DALLE"
              src="../static/logo.png"
            />
            <div class="text-wrapper">SleePi</div>
          </div>
        </div>
        <img class="img" src="../static/vector.png" />
        <!-- Dashboard -->
        <a href="/dash/">
        <div class="card-interaction">
          <div class="content-container-wrapper">
            <div class="content-container">
              <div class="content"><div class="headline-desktop">Personal live data</div></div>
              <div class="icon-container"><img class="arrow-right" src="../static/arrow_right.png" /></div>
            </div>
          </div>
          <div class="icon"><img class="img-2" src="../static/person.png" /></div>  
        </div>
      </a>

        <!-- Github -->
        <a href="https://github.com/Jayzing00/SleePi" target="_blank">
        <div class="card-interaction-2">
          <div class="content-container-wrapper">
            <div class="content-container">
              <div class="content"><div class="headline-desktop">GitHub</div></div>
              <div class="icon-container"><img class="arrow-right" src="../static/arrow_right.png" /></div>
            </div>
          </div>
          <div class="icon"><img class="img-2" src="../static/document_code.png" /></div>
        </div>
        </a>

        <!-- About -->
        <a href="/about">
        <div class="card-interaction-3">
          <div class="content-container-wrapper">
            <div class="content-container">
              <div class="content"><div class="headline-desktop">About SleePi</div></div>
              <div class="icon-container"><img class="arrow-right" src="../static/arrow_right.png" /></div>
            </div>
          </div>
          <div class="icon"><img class="img-2" src="../static/star.png" /></div>
        </div>
        </a>

        <!-- Sleep Quality -->
        <a href="/quality">
        <div class="card-interaction-4">
          <div class="content-container-wrapper">
            <div class="content-container">
              <div class="content"><div class="headline-desktop">Sleep quality</div></div>
              <div class="icon-container"><img class="arrow-right" src="../static/arrow_right.png" /></div>
            </div>
          </div>
          <div class="icon"><img class="img-2" src="../static/alarmclock.png" /></div>
        </div>
      </a>
        <p class="p">Explore the data from your sensors:</p>
      </div>
    </div>
  </body>
</html>
